openapi: "3.0.0"
servers:
  - url: //api.intelycare.com/external-scheduling/v1/
    description: Default server
  - url: //api.pre.prod01.platform.intelycare.com/external-scheduling/v1/
    description: Sandbox server
info:
  description: |
    # Introduction
    Welcome to the IntelyCare API documentation, your gateway to seamless integration with the IntelyCare Staffing platform. Our REST API empowers clients to efficiently create shift requests, enabling a streamlined process for managing workforce scheduling. By leveraging this API, you can enhance your systems with real-time information about shift status, including when a shift has been filled and details about the assigned IntelyPro.

    # Overview

    The IntelyCare API facilitates communication between your application and the IntelyCare platform, enabling a seamless exchange of data. This documentation serves as a comprehensive guide to help you integrate your systems with our powerful RESTful API. All requests and responses are JSON-encoded, and use standard HTTP response codes and authentication schemes. Bulk operations are not supported. You can work with only one object per request.

    To get started with the IntelyCare API, refer to the detailed documentation below. We provide comprehensive information on authentication, endpoints, request and response formats, and error handling.

    # Authentication

    IntelyCare offers the following authentication schemes:

    | Type                      | Usage       | Description                                                    | Example                                                                   |
    | ------------------------- | ----------- | -------------------------------------------------------------- | ------------------------------------------------------------------------- |
    | apiKey                    | REST APIs   | Required as `X-API-KEY` header for all RESTful calls           | `d1015a83-9f5f-4a4d-b5fd-4e756ed1d282`                                    |
    | HMAC Signature (SHA256)   | Webhooks    | Provided as `X-Signature-IC` header on all webhooks            | `bcc151a55acf3d93c097e768f2b96f82d91b56d6fe2a102818b70f0fdfd0ccd1`        |

    > :memo: **Note:** API Keys are tied to individual clients and cannot be used outside their provided scope
   
    # Support and Assistance

    If you have any questions, encounter issues, or require assistance during the integration process, our dedicated support team is here to help. Reach out to apisupport@intelycare.com for prompt and reliable assistance.

    Thank you for choosing IntelyCare. Let's build a more efficient and connected healthcare workforce together!
  version: 1.0.0
  title: IntelyCare API Documentation
  contact:
    name: API Support
    email: apisupport@intelycare.com
  x-logo:
    url: 'https://www.intelycare.com/wp-content/uploads/2023/08/ic-logo-2-1.svg'
    altText: IntelyCare Logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Shift
    description: Integrate with the IntelyCare platform to create shift requests effortlessly. Our API allows you to programmatically submit and manage shift requests, providing you with the flexibility to adapt to your workforce scheduling needs.
  # - name: Assignment
  #   description: aaaa
  # - name: Punches
  #   description: Everything about Timeclock Punches and Events
  - name: Timecard
    description: Simplify billing reconciliation by exchanging timecard information seamlessly. Our API supports the exchange of accurate timekeeping data, ensuring a smooth and efficient process for both you and the IntelyCare platform.
  # - name: Facility
  #   description: Everything about Facilities
  - name: Webhook Events
    description: Real-time updates on the status of submitted shifts. The API response includes valuable information about the assigned IntelyPro, giving you insights into the workforce handling each shift.
x-tagGroups:
  - name: APIs
    tags:
      - Shift
      # - Assignment
      # - Punches
      - Timecard
      # - Facility
      - Webhook Events
components:
  securitySchemes: # Security
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    HMACSignature:
      type: apiKey
      in: header
      name: X-Signature-IC
  responses: # Responses
    UnauthorizedError:
      description: Unauthorized
      headers:
        WWW_Authenticate:
          schema:
            type: string
      content:
          application/json: 
            examples:
              foo:
                value:
                  {
                    "message":"Unauthorized"
                  }
  schemas: # Schemas
    TimecardAttribute:
      description: Attribute associated with Timecard
      type: string
      enum: 
        - CHECK_IN
        - CHECK_OUT
        - BREAK_START
        - BREAK_END
        - SKIP_BREAK
        - CHECK_IN_SUPERVISOR
        - CHECK_IN_SIGNATURE
        - CHECK_OUT_SUPERVISOR
        - CHECK_OUT_SIGNATURE
    IC-CorrelationID:
      description: Unique uuid that can be used for debugging purposes
      type: string
security:
  - ApiKeyAuth: []     # use the same name as under securitySchemes
  - HMACSignature: []
paths:
  /shifts:
    post:
      tags: 
        -  Shift
      operationId: shift_create_api_v1
      summary: Create
      security: 
        - ApiKeyAuth: []
      parameters:
        - name: X-API-KEY
          in: header
          description: API key issued to a specific client. This can only be used to access data within the client scope.
          example: d1015a83-9f5f-4a4d-b5fd-4e756ed1d282
          required: true
          schema:
            type: string
        - name: X-CLIENT-ID
          in: header
          description: Intelycare's Unique identifier of the client.
          example: "1234"
          required: true
          schema:
            type: string
      requestBody: 
        content: 
          application/json:
            schema:
              type: object
              required: 
                - externalShiftId
                - shiftStartTime
                - shiftEndTime
                - shiftUnit
                - healthcareProfessionalType
                - shiftSource
                - timezone
              properties:
                externalShiftId:
                  description: Unique identifier for the shift
                  type: integer
                shiftStartTime:
                  description: Shift start date/time in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-24T05:04:34Z"
                shiftEndTime:
                  description: Shift end date/time in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-24T11:04:34Z"
                shiftUnit:
                  description: Facility unit where the care should be delivered by the healthcare professional
                  type: string
                healthcareProfessionalType:
                  description: Healthcare professional qualification needed for the given shift
                  type: string
                shiftSource:
                  description: Shift origination point 
                  type: string
                timezone:
                  description: Timezone for the shifts
                  type: string
                shiftBoostPercentage:
                  description: Percentage amount for boosting the shift
                  type: integer
                  default: 0
            example: 
                {
                  "externalShiftId": 2546810,
                  "shiftStartTime": "2024-01-16T23:00:00",
                  "shiftEndTime": "2024-01-17T07:00:00",
                  "shiftUnit": "1st Floor",
                  "healthcareProfessionalType": "LPN",
                  "shiftSource": "qwerty",
                  "shiftBoostPercentage": 10,
                  "timezone": "ET"
                }
            x-codeSamples:
              - lang: 'cURL'
                label: 'CLI'
                source: |
                  curl --request POST \
                  --url 'https://data.apiexample.com/api/example/batch_query/json?format=json' \
                  --header 'content-type: application/octet-stream: ' \
                  --data '{}'
      responses:
        '200':
          description: |-
            200 OK
          content:
            application/json: 
              example:
                {
                  "id": 123,
                  "clientId" : 1234,
                  "attributes": {
                    "externalShiftId": 2546810,
                    "shiftStartTime": "2024-01-16T23:00:00",
                    "shiftEndTime": "2024-01-17T07:00:00",
                    "shiftUnit": "1st Floor",
                    "healthcareProfessionalType": "LPN",
                    "shiftSource": "qwerty",
                    "shiftBoostPercentage": 10,
                    "timezone": "ET"
                  },
                  "createdAt": "2024-01-15T13:30:00"
                }
        '400':
          description: |-
            400 Bad Request
          headers:
            IC-CorrelationID:
              $ref: "#/components/schemas/IC-CorrelationID"
          content:
            application/json: 
              examples:
                foo:
                  value:
                    {
                      "message":"Client ID is not valid"
                    }
        '401':
          $ref: "#/components/responses/UnauthorizedError"
  /shifts/{shiftId}:
    put:
      tags:
        - Shift
      operationId: shift_update_api_v1
      summary: Update
      security: 
        - ApiKeyAuth: []
      parameters:
        - name: X-API-KEY
          in: header
          description: API key issued to a specific client. This can only be used to access data within the client scope.
          example: d1015a83-9f5f-4a4d-b5fd-4e756ed1d282
          required: true
          schema:
            type: string
        - name: X-CLIENT-ID
          in: header
          description: Intelycare's Unique identifier of the client.
          example: "1234"
          required: true
          schema:
            type: string
        - name: shiftId
          in: path
          description: Intelycare's Unique identifier of the shift.
          example: "1234"
          required: true
          schema:
            type: string
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              properties:
                shiftStartTime:
                  description: Shift start date/time in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-24T05:04:34Z"
                shiftEndTime:
                  description: Shift end date/time in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-24T11:04:34Z"
                shiftUnit:
                  description: Facility unit where the care should be delivered by the healthcare professional
                  type: string
                healthcareProfessionalType:
                  description: Healthcare professional qualification needed for the given shift
                  type: string
                shiftSource:
                  description: Shift origination point 
                  type: string
                shiftBoostPercentage:
                  description: Percentage amount for boosting the shift
                  type: integer
                  default: 0
                timezone:
                  description: Timezone for the shifts
                  type: string
            example: 
                {
                  "shiftStartTime": "2024-01-16T23:00:00",
                  "shiftEndTime": "2024-01-17T07:00:00",
                  "shiftUnit": "1st Floor",
                  "healthcareProfessionalType": "LPN",
                  "shiftSource": "qwerty",
                  "shiftBoostPercentage": 10,
                  "timezone": "ET"
                }
            x-codeSamples:
              - lang: 'cURL'
                label: 'CLI'
                source: |
                  curl --request POST \
                  --url 'https://data.apiexample.com/api/example/batch_query/json?format=json' \
                  --header 'content-type: application/octet-stream: ' \
                  --data '{}'
      responses:
        '200':
          description: |-
            200 OK
          content:
            application/json: 
              example:
                {
                  "id": 123,
                  "clientId" : 1234,
                  "attributes": {
                    "externalShiftId": 2546810,
                    "shiftStartTime": "2024-01-16T23:00:00",
                    "shiftEndTime": "2024-01-17T07:00:00",
                    "shiftUnit": "1st Floor",
                    "healthcareProfessionalType": "LPN",
                    "shiftSource": "qwerty",
                    "shiftBoostPercentage": 10,
                    "timezone": "ET"
                  },
                  "updatedAt": "2024-01-15T13:30:00"
                }
        '400':
          description: |-
            400 Bad Request
          headers:
            IC-CorrelationID:
              $ref: "#/components/schemas/IC-CorrelationID"
          content:
            application/json: 
              examples:
                foo:
                  value:
                    {
                      "message":"Shift ID is not valid!"
                    }
        '401':
          $ref: "#/components/responses/UnauthorizedError"
    delete:
      tags:
        - Shift
      operationId: shift_delete_api_v1
      summary: Delete
      security: 
        - ApiKeyAuth: []
      parameters:
        - name: X-API-KEY
          in: header
          description: API key issued to a specific client. This can only be used to access data within the client scope.
          example: d1015a83-9f5f-4a4d-b5fd-4e756ed1d282
          required: true
          schema:
            type: string
        - name: X-CLIENT-ID
          in: header
          description: Intelycare's Unique identifier of the client.
          example: "1234"
          required: true
          schema:
            type: string
        - name: shiftId
          in: path
          description: Intelycare's Unique identifier of the shift.
          example: "1234"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: |-
            200 OK
          content:
            application/json: 
              example:
                {
                  "id": 123,
                  "clientId" : 1234,
                  "attributes": {
                    "externalShiftId": 2546810,
                    "shiftStartTime": "2024-01-16T23:00:00",
                    "shiftEndTime": "2024-01-17T07:00:00",
                    "shiftUnit": "1st Floor",
                    "healthcareProfessionalType": "LPN",
                    "shiftSource": "qwerty",
                    "shiftBoostPercentage": 10
                  },
                  "deletedAt": "2024-01-15T13:30:00"
                }
        '400':
          description: |-
            400 Bad Request
          headers:
            IC-CorrelationID:
              $ref: "#/components/schemas/IC-CorrelationID"
          content:
            application/json: 
              examples:
                foo:
                  value:
                    {
                      "message":"Shift ID is not valid!"
                    }
        '401':
          $ref: "#/components/responses/UnauthorizedError"
  # /punches:
  #   post:
  #     tags:
  #       - Punches
  #     operationId: punch_create_api_v1
  #     summary: Create
  #     security: 
  #       - ApiKeyAuth: []
  #     requestBody:
  #       content: 
  #         application/json:
  #           schema:
  #             type: object
  #             required: 
  #               - client_id
  #               - external_shift_id
  #             properties:
  #               client_id:
  #                 description: Unique identifier of the client
  #                 type: integer
  #               external_shift_id:
  #                 description: Unique identifier for the shift
  #                 type: integer
  #               attributes:
  #                 description: Array of timecard attributes
  #               shift_start_time:
  #                 description: Shift start date/time in ISO 8601 format and in UTC timezone
  #                 type: string
  #                 example: "2024-01-24T05:04:34Z"
  #           example: 
  #               {
  #                 "client_id" : 1234,
  #                 "external_shift_id": 2546810,
  #                 "attributes": [
  #                   {
  #                     "attribute": "CHECK_IN",
  #                     "value": "2024-01-17T07:00:00"
  #                   },
  #                   {
  #                     "attribute": "CHECK_OUT",
  #                     "value": "2024-01-17T15:00:00"
  #                   },
  #                   {
  #                     "attribute": "BREAK_START",
  #                     "value": "2024-01-17T11:30:00"
  #                   },
  #                   {
  #                     "attribute": "BREAK_END",
  #                     "value": "2024-01-17T12:02:00"
  #                   },
  #                   {
  #                     "attribute": "SKIP_BREAK",
  #                     "value": "false"
  #                   },
  #                   {
  #                     "attribute": "CHECK_IN_SUPERVISOR",
  #                     "value": "Tony Stark"
  #                   },
  #                   {
  #                     "attribute": "CHECK_IN_SIGNATURE",
  #                     "value": "P6XvJ9o1X3HaY0+RGG7Lmg=="
  #                   },
  #                   {
  #                     "attribute": "CHECK_OUT_SUPERVISOR",
  #                     "value": "Tony Stark"
  #                   },
  #                   {
  #                     "attribute": "CHECK_OUT_SIGNATURE",
  #                     "value": "XfPy2KmGiZTQySSS3OHCWw=="
  #                   }
  #                 ]
  #               }
  #     responses:
  #       '200':
  #         description: |-
  #           200 OK
  #         content:
  #           application/json: 
  #             example:
  #               {
  #                 "id": 123,
  #                 "client_id" : 1234,
  #                 "external_shift_id": 2546810,
  #                 "attributes": [
  #                   {
  #                     "attribute": "CHECK_IN",
  #                     "value": "2024-01-17T07:00:00"
  #                   },
  #                   {
  #                     "attribute": "CHECK_OUT",
  #                     "value": "2024-01-17T15:00:00"
  #                   },
  #                   {
  #                     "attribute": "BREAK_START",
  #                     "value": "2024-01-17T11:30:00"
  #                   },
  #                   {
  #                     "attribute": "BREAK_END",
  #                     "value": "2024-01-17T12:02:00"
  #                   },
  #                   {
  #                     "attribute": "SKIP_BREAK",
  #                     "value": "false"
  #                   },
  #                   {
  #                     "attribute": "CHECK_IN_SUPERVISOR",
  #                     "value": "Tony Stark"
  #                   },
  #                   {
  #                     "attribute": "CHECK_IN_SIGNATURE",
  #                     "value": "P6XvJ9o1X3HaY0+RGG7Lmg=="
  #                   },
  #                   {
  #                     "attribute": "CHECK_OUT_SUPERVISOR",
  #                     "value": "Tony Stark"
  #                   },
  #                   {
  #                     "attribute": "CHECK_OUT_SIGNATURE",
  #                     "value": "XfPy2KmGiZTQySSS3OHCWw=="
  #                   }
  #                 ],
  #                 "errors": null,
  #                 "created_at": "2024-01-17T15:01:00"
  #               }
  #       '401':
  #         $ref: "#/components/responses/UnauthorizedError"  
  #   patch:
  #     tags:
  #       - Punches
  #     operationId: update_punch_api_v1
  #     summary: Update Punch
  #     security: 
  #       - ApiKeyAuth: []
  #     requestBody:
  #       content: 
  #         application/json:
  #           schema:
  #             type: object
  #             required: 
  #               - timecard_id
  #               - attribute
  #             properties:
  #               timecard_id:
  #                 description: Unique identifier of the timecard
  #                 type: integer
  #               attribute:
  #                 $ref: "#/components/schemas/TimecardAttribute"
  #               value:
  #                 description: Value associated with provided attribute
  #                 type: string
  #           example: 
  #               {
  #                 "timecard_id": 1234,
  #                 "attribute": "CHECK_OUT",
  #                 "value": "2024-01-17T07:00:00"
  #               }
  #     responses:
  #       '200':
  #         description: |-
  #           200 OK
  #         content:
  #           application/json: 
  #             example:
  #               {
  #                 "timecard_id": 1234,
  #                 "attribute": "CHECK_OUT",
  #                 "value": "2024-01-17T07:00:00",
  #                 "errors": null,
  #                 "updated_at": "2024-01-17T15:01:00"
  #               }  
  #       '401':
  #         $ref: "#/components/responses/UnauthorizedError"
  /timecard:
    post:
      tags:
        - Timecard
      operationId: timecard_create_api_v1
      summary: Create
      security: 
        - ApiKeyAuth: []
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              required: 
                - client_id
                - external_shift_id
                - check_in
                - check_out
                - break_duration
              properties:
                client_id:
                  description: Unique identifier of the client
                  type: integer
                external_shift_id:
                  description: Unique identifier for the shift
                  type: integer
                check_in:
                  description: Shift check-in timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-17T07:00:00"
                check_out:
                  description: Shift check-out timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-17T15:00:00"
                break_duration:
                  description: Duration (in minutes) of shift break
                  type: integer
                  example: 30
            example: 
                {
                  "client_id" : 1234,
                  "external_shift_id": 2546810,
                  "check_in": "2024-01-17T07:00:00",
                  "check_out": "2024-01-17T15:00:00",
                  "break_duration": 30
                }
      responses:
        '200':
          description: |-
            200 OK
          content:
            application/json: 
              example: 
                {
                  "client_id" : 1234,
                  "external_shift_id": 2546810,
                  "check_in": "2024-01-17T07:00:00",
                  "check_out": "2024-01-17T15:00:00",
                  "break_duration": 30,
                  "errors": null,
                  "created_at": "2024-01-17T15:01:00"
                }
        '401':
          $ref: "#/components/responses/UnauthorizedError"
    put:
      tags:
        - Timecard
      operationId: update_timecard_api_v1
      summary: Update
      security: 
        - ApiKeyAuth: []
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              required: 
                - client_id
                - external_shift_id
                - check_in
                - check_out
                - break_duration
              properties:
                client_id:
                  description: Unique identifier of the client
                  type: integer
                external_shift_id:
                  description: Unique identifier for the shift
                  type: integer
                check_in:
                  description: Shift check-in timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-17T07:00:00"
                check_out:
                  description: Shift check-out timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-17T15:00:00"
                break_duration:
                  description: Duration (in minutes) of shift break
                  type: integer
                  example: 30
            example: 
                {
                  "client_id" : 1234,
                  "external_shift_id": 2546810,
                  "check_in": "2024-01-17T07:00:00",
                  "check_out": "2024-01-17T15:00:00",
                  "break_duration": 30
                }
      responses:
        '200':
          description: |-
            200 OK
          content:
            application/json: 
              example:
                {
                  "client_id" : 1234,
                  "external_shift_id": 2546810,
                  "check_in": "2024-01-17T07:00:00",
                  "check_out": "2024-01-17T15:00:00",
                  "break_duration": 30,
                  "errors": null,
                  "updated_at": "2024-01-17T15:01:00"
                }
        '401':
          $ref: "#/components/responses/UnauthorizedError"
x-webhooks:
  ShiftAccept:
    post:
      tags: 
      - Webhook Events
      operationId: shift_accept_webhook_v1
      summary: Shift Accept
      description: Webhook event for shift accept
      security: 
        - HMACSignature: []
      parameters:
        - name: X-Signature-IC
          in: header
          description: The hash signature of the payload. IntelyCare webhooks uses a HMAC hex digest (SHA256) to compute the signature of the body payload with the webhook secret.
          example: a0b1c1d2e3f5a8b13c21d34e55f89a144b233c377d610e987f1597a2584b4181
          required: true
          schema:
            type: string
      requestBody:
        description: Webhook event for shift accept
        content:
          application/json:
            schema:
              type: object
              required: 
                - client_id
                - external_shift_id
                - shift_status
                - healthcare_professional
                - status_timestamp
              properties:
                client_id:
                  description: Unique identifier of the client
                  type: integer
                external_shift_id:
                  description: Unique identifier for the shift
                  type: integer
                shift_status:
                  description: Status of the shift
                  type: string
                  enum:
                    - Accepted
                    - Completed
                    - Released
                    - Deleted
                healthcare_professional:
                  description: Healthcare Professional object containing all information about the assigned worker
                  type: object
                  required: 
                    - id
                    - external_id
                    - last_name
                    - first_name
                    - healthcare_professional_type
                    - phone_number
                    - email
                  optional:
                    - profile_picture
                  properties:
                    id:
                      description: Unique identifier of the shift
                      type: integer
                    external_id:
                      description: External identifier for the shift
                      type: integer
                    last_name:
                      description: Last name of the assigned worker
                      type: string
                    first_name:
                      description: First name of the assigned worker
                      type: string
                    healthcare_professional_type:
                      description: Healthcare professional qualification needed for the given shift
                      type: string
                    phone_number:
                      description: Phone number for the assigned worker 
                      type: string
                      example: "(800) 900-1234"
                    email:
                      description: Email for the assigned worker
                      type: string
                    profile_picture:
                      description: Base64 encoded string of the assigned workers profile image
                      type: string
                      example: "XfPy2KmGiZTQySSS3OHCWw=="
                status_timestamp:
                  description: Status timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-17T15:01:00"
            example: 
                  {
                    "client_id": 1234,
                    "external_shift_id": 2546810,
                    "shift_status": "Accepted",
                    "healthcare_professional": {
                      "id": "456789",
                      "external_id": "111124",
                      "last_name": "Nightengale",
                      "first_name": "Florence",
                      "healthcare_professional_type": "LPN",
                      "phone_number": "(800) 900-1234",
                      "email": "florence.nightengale@gmail.com",
                      "profile_picture": "XfPy2KmGiZTQySSS3OHCWw=="
                    },
                    "status_timestamp": "2024-01-17T15:01:00"
                  }
  ShiftRelease:
    post:
      tags: 
      - Webhook Events
      operationId: shift_release_webhook_v1
      summary: Shift Release
      description: Webhook event for shift release
      security: 
        - HMACSignature: []
      parameters:
        - name: X-Signature-IC
          in: header
          description: The hash signature of the payload. IntelyCare webhooks uses a HMAC hex digest (SHA256) to compute the signature of the body payload with the webhook secret.
          example: a0b1c1d2e3f5a8b13c21d34e55f89a144b233c377d610e987f1597a2584b4181
          required: true
          schema:
            type: string
      requestBody:
        description: Webhook event for shift release
        content:
          application/json:
            schema:
              type: object
              required: 
                - client_id
                - external_shift_id
                - shift_status
                - status_timestamp
              properties:
                client_id:
                  description: Unique identifier of the client
                  type: integer
                external_shift_id:
                  description: Unique identifier for the shift
                  type: integer
                shift_status:
                  description: Status of the shift
                  type: string
                  enum:
                    - Accepted
                    - Completed
                    - Released
                    - Deleted
                status_timestamp:
                  description: Status timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: "2024-01-17T15:01:00"
            example: 
                  {
                    "client_id": 1234,
                    "external_shift_id": 2546810,
                    "shift_status": "Released",
                    "status_timestamp": "2024-01-17T15:01:00"
                  }